/node_modules
/public/hot
/public/cache
/public/storage
/public/storage1
/storage/*.key
/vendor
/mysql
/nginx
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
.DS_Store
.gitkeep
._mysql
._*
/app-25
/app1
/app27-5
/database1
/Modules-25
/Modules27-5
/public/editor
