/node_modules
/public/hot
/storage/*.key
/vendor
/mysql
/nginx
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
.DS_Store
.gitkeep
._mysql
._*
