::selection {
	background-color: #efbb20;
	color: #ffffff;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 0px;
	box-shadow: none;
}
::-webkit-scrollbar {
	width: 10px;
}
ul{
	padding:0px;
	margin:0px;
}
a:hover{
	text-decoration:none;
}
.clear{
	clear:both;
}
p{
	margin-bottom:8px
}
body {
	font-size: 13px;
	font-family: 'Roboto';
	margin: 0px;
	padding: 0px;
	color: #000;
	background:#E5E5E5;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header{
	background: url(../images/penci.png) #CB0031  top right no-repeat;
	height: 160px;
	width: 100%;
	color: white;
	padding-top: 98px;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}

.list_left{
	background: white;
	margin-bottom: 20px;
}
.list_left p.title{
	background: rgba(159, 0, 0, 0.96);
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.list_left ul{
	padding: 0px 5px 15px 5px;
}
.list_left ul li{
	list-style: none;
	margin-bottom: 5px;
	overflow: hidden;
}
.list_left ul li a{
	color: #666666;
	font-size: 13px;
}
.list_left ul li a i{
	font-size: 10px;
	margin-right: 5px;
	height: 30px;
	float: left;
	margin-top: 5px;
}
.list_left ul li.active a{
	color: rgba(159, 0, 0, 0.96);
}
.list_left ul li.active a i{
	color: rgba(159, 0, 0, 0.96);
}

.list_left ul li:hover a{
	color: rgba(159, 0, 0, 0.96);
}
.list_left ul li:hover a i{
	color: rgba(159, 0, 0, 0.96);
}

.list_right{
	background: white;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.list_right .title_content{
	height: 60px;
	background: #CB0031 ;
	margin-bottom: 20px;
	padding: 0px 10px;
}
.list_right .title_content span.page_title{
	color: white;
	font-size: 19px;
	line-height: 60px;
}

.list_right .title_content .action{
	float: right;
	line-height: 60px;
}
.list_right .title_content .action span.time{
	color: white;
	font-size: 17px;
}
.list_right .title_content .action a{
	background: white;
	color: #CB0031 ;
	padding: 7px 15px;
	text-transform: uppercase;
	border-radius: 17px;
	font-weight: 600;
	font-size: 15px;
	margin-left: 10px;
}

.list_right .item{
	padding: 0px 20px;
}
.list_right .item .question{}
.list_right .item .question p{
	color: #666666;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 20px
}
.list_right .item .question .img{
	text-align: center;
}
.list_right .item .question .img img{}
.list_right .item .reply{
	position: relative;
	padding-left: 0px;
	color: #666666;
	font-size: 13px;
	line-height: 23px;
}
.list_right .item .reply ul{}
.list_right .item .reply ul li{
	list-style: none;
	margin-bottom: 10px;
}
.list_right .item .reply ul li .form-reply{
	position: relative;
	padding-left: 25px;
}
.list_right .item .reply ul li .form-reply input[type="radio"]{
	float: left;
	position: absolute;
	margin-top: 6px;
	left: 0px;
}
.list_right .item .reply ul li .form-reply label{
	padding-left: 10px;
}
.list_right .item hr{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;	
}

.submit_button{
	text-align: center;
	margin: 30px 0px;
}
.submit_button a{
	padding: 11px 40px;
	color: white;
	background: linear-gradient(90deg, #0CA5FB 0%, #043B8D 87.07%);
	border-radius: 40px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.submit_buttons a:hover {
	background: linear-gradient(90deg, #0a0c0c 0%, #1a6ce6 87.07%);
}


@media only screen and (min-width: 650px) and (max-width: 990px) {

}

@media (max-width: 575.98px) {
	.header {
		background: #0CA5FB;
		padding-top: 30px;
		font-size: 28px;
		height: auto;
	}
	.list_right .title_content span.page_title{
		font-size: 16px;
	}
	.list_right .title_content .action {
		background: #0ca5fb;
		padding: 10px;
		width: 100%;
		margin-top: 10px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.list_right .item {
		padding: 0px 10px;
	}
	.list_right .item .img_question img{
		margin-bottom: 20px;
	}
}



.form-reply {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form-reply input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bfbfbf;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-reply:hover input ~ .checkmark {
    background-color: #e0e0e0;
}

/* When the radio button is checked, add a blue background */
.form-reply input:checked ~ .checkmark {
    background-color: #CB0031 ;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-reply input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-reply .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.backhome{
    margin-bottom: 20px;
    background: rgba(159, 0, 0, 0.96);
    color: white!important;
    font-size: 12px;	
}