.megamenu{
	top: 135px;
	position: absolute;
	background: white;
	z-index: 9999;
	padding: 10px;
	border-radius: 5px;
	height: auto;
	width: 290px;	
	display: none;
}
.megamenu > ul{
}
.megamenu > ul > li{
	border-bottom: 1px #ebebeb solid;
	padding: 10px 0px;
}

.megamenu > ul > li:last-child{
	border-bottom: 0px #ebebeb solid;
}

.megamenu > ul > li > a{
	color: #2a323e;
}
.megamenu > ul > li > a > h2{
	font-size: 14px;
	display: initial;	
}
.megamenu > ul > li > .div_hv{}
.megamenu > ul > li img{
	height: 29px;
	width: 27px;
	margin-right: 8px;
	border: none;
}
.megamenu > ul > li:hover .div_hv{
	display:block;
}
.div_hv {
	display: none;
	background: transparent;
	width: 880px;
	position: absolute;
	top: 0px;
	left: 275px;
}

.div_hv .list_menu{
	background: #f6f6f6;
	min-height: 300px;
	border-radius: 5px;
	margin-left: 20px;
}

.row_cate{
	margin: 0px;
}

.megamenu > ul > li > .div_hv .item{
	text-align: center;
	padding: 10px 0px;
}
.megamenu > ul > li > .div_hv .item img{
	height: 100px;
	width: auto;
	border-radius: 5px;	
}
.megamenu > ul > li > .div_hv .item h3{}
.megamenu > ul > li > .div_hv .item h3 a{
	font-size: 14px;
	color: #464646;
	font-weight: 600;	
}
.megamenu > ul > li > .div_hv .item ul{
	text-align: left;
	padding-left: 5px;
}
.megamenu > ul > li > .div_hv .item ul li{
	line-height: 23px;
}
.megamenu > ul > li > .div_hv .item ul li a{
	color: #464646;
}

.megamenu > ul > li > .div_hv .item ul li a:hover{
	color: #de403d;
}

.megamenu > ul > li > .div_hv .item ul li a i{
	font-size: 7px;
	color: #de403d;
	padding-right: 7px;
}

.col-menu {
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	position: relative;
}











