

.breadcrumb_p{
    background:#e0203f;
    border-radius: 0px; 
}

.breadcrumb_p a{
    color: white;
    font-weight: 400;   
}

.breadcrumb_p > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: white;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: white;
}

.img_detail{
    text-align: center;
    margin-bottom: 20px;
}
.img_detail img{
    max-width: 100%;
    height: auto;
    display: -webkit-inline-box;
    margin-bottom: 20px;
}
.imgsmall{}
.imgsmall img{
    width: 60px!important;
    height: 50px;
    float: left;
    border: 1px #ccc solid;
    padding: 1px;
    margin-right: 5px;
}
.img_bg{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    color: #fff;
    padding: 30px 0;
        margin-bottom: 40px;
}
#img_detail{
    width: 100%;
    background: white;    
}
.detailpro{
    margin-bottom: 15px;
    color: white;
    font-size: 17px;
}
.detailpro iframe{
    max-width:100%;
}
.detailpro p.name{
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
}
.detailpro p.code{
    color: #444444;
    font-size: 14px;
    font-weight: 400;
}
.detailpro .info{
    margin-top:10px;
}
.detailpro .info p.sp {
    font-weight: 500;
    font-size: 14px;
    color: red;
    margin-bottom:7px;
}
.p-model {
    font: 12px;
    margin-bottom:10px;
}
.p-model span {
    padding: 0px 3px;
}


.box_price{
}

.box_price .p_gia{
    font-size: 13px;
    font-weight: 400;   
}
.box_price .p_gia_n{
    font-size: 14px;
    font-weight: 600;   
}
.p-price-main{
    font-size: 37px;
    font-weight: 600;
    color: #ffffff;
    margin: 20px 0px;
}


p.status{
    text-align:center;
}

p.saleoff{
    font-size: 22px;
    color: red;
    text-align: center;
    font-weight: 600;
    font-family: Arial;
    margin-bottom: 0px;
}

p.vat{
    text-align:center;
    font: bold 11px/17px Arial;
    color: #0071bb;
    margin-bottom:20px
}


.content_tab{
    padding: 15px;
    border: 1px #ddd solid;
    border-top: 0px;    
}

.nav-tabs > li.active > a{
    border-radius:0px}


    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color:black;
    }
    .nav-tabs > li > a {
        color: #000;
        font-family: utm;
        text-transform: uppercase;
        font-size: 16px;
    }

    .content_tab img{
        max-width:100%!important;
        height:auto!important;
    }

    .content_tab table{
        max-width: 100%!important;
        height: auto!important;
    }

