.stickytooltip{
    box-shadow: 5px 5px 8px #818181;
    -webkit-box-shadow: 5px 5px 8px #818181;
    -moz-box-shadow: 5px 5px 8px #818181;
    display: none;
    position: absolute;
    display: none;
    border: 2px solid #75a80d;
    border-color: #73a60d!important;
    background: white;
    z-index: 3000;
    border-radius: 3px;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
	background:black;
	color:white;
	padding-top:5px;
	text-align:center;
	font:bold 11px Arial;
}
.atip .name{
    color: #73a60d;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;	
}
.atip .mota{
    width: 300px;
    max-height: 150px;
    overflow: hidden;
    float: inherit;
    margin-bottom: 10px;
    margin-left: 0px;
}
.atip p.price{
    color: red;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
    line-height: 0px;
    font-family: arial;
    font-weight: bold;
}
.atip img{
    max-width: 300px;
    max-height: 500px;
	margin-bottom:10px;
}