@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#cssmenu1 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu1 ul,
#cssmenu1 ul li,
#cssmenu1 ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu1 ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu1 ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu1 ul li.hover,
#cssmenu1 ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
	background: #444444;
}
#cssmenu1 ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu1 ul ul li {
  float: none;
  border-bottom: 1px #f5f5f5 solid;
}
#cssmenu1 ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu1 ul li:hover > ul {
  visibility: visible;
}
#cssmenu1 ul ul {
  top: 0px;
  left: 100%;
}
#cssmenu1 ul li {
	list-style: none;
  background: #5b3714;
  border-bottom: 1px #f57912 solid;
  width: 100%;
}
#cssmenu1 ul li:last-child{ border-bottom: 0px #F9F9F9 solid;}

#cssmenu1 ul ul {
  margin-top: 0px;
}
#cssmenu1 ul ul li {
 background: inherit;
 font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu1 {
	width: 100%;
  zoom: 1;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #5b3714;
}
#cssmenu1:before {
  content: '';
  display: block;
}
#cssmenu1:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu1 a {
  display: block;
  padding: 0px 0px 0px 15px;
  text-decoration: none;
}
#cssmenu1 > ul {
  width: 100%;
}
#cssmenu1 ul ul {
  width: 220px;
}
#cssmenu1 > ul > li > a {
	border-right: none;
  color: white;
  text-transform: inherit;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cssmenu1 > ul > li > a:hover {
  font-style: italic;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#cssmenu1 > ul > li.active a {

}
#cssmenu1 > ul > li a:hover,
#cssmenu1 > ul > li:hover a {
}
#cssmenu1 li {
  position: relative;
}
#cssmenu1 ul li.has-sub > a:after {

}
#cssmenu1 ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu1 ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu1 ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu1 ul ul {
  border: 0px solid #ffffff;
  background-color: white;
}
#cssmenu1 ul ul a {
  font-size: 12px;
  padding: 10px;
}
#cssmenu1 ul ul a:hover {
  color: #ffffff;
}
#cssmenu1 ul ul li a{
  border-right: none;
  color: grey;
  text-transform: inherit;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}
#cssmenu1 ul ul li:hover > a {
  color: #c65700;
}
#cssmenu1 ul ul li a:hover{
  color: white;	
}

#cssmenu1.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#cssmenu1.align-right {
  float: right;
}
#cssmenu1.align-right li {
  text-align: right;
}
#cssmenu1.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu1.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu1.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu1.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu1.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu1.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

#cssmenu1 .category_name{
  padding: 5px;	
}

#cssmenu1 .category_name p{
	background: white;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #444444;
  font-size: 14px;
  font-weight: 800;	
}

#cssmenu1 .category_name p i{
  color: #5b3714;
  font-size: 22px;
  margin-top: -6px;	
}










