::selection {
  background-color: #efbb20;
  color: #ffffff;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0px;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 10px;
}
ul{
  padding:0px;
  margin:0px;
}
a:hover{
  text-decoration:none;
}
.clear{
  clear:both;
}
p{
  margin-bottom:8px
}
.form-control{
  font-size: 13px
}
ul li{
  list-style: none
}


@font-face {
  font-family: "utmavenida";
  src: url(../css/fonts/utmavenida.ttf) format('truetype');
}
@font-face {
  font-family: "utmswisscondensed";
  src: url(../css/fonts/utmswisscondensed.ttf) format('truetype');
}
@font-face {
  font-family: "utmswisscondensedbold";
  src: url(../css/fonts/utmswisscondensedbold.ttf) format('truetype');
}
@font-face {
  font-family: "utmimpact";
  src: url(../css/fonts/utm-impact.ttf) format('truetype');
}

@font-face {
  font-family: "utmcaviar";
  src: url(../css/fonts/utmcaviar.ttf) format('truetype');
}
@font-face {
  font-family: "utmfuturaextra";
  src: url(../css/fonts/utmfuturaextra.ttf) format('truetype');
}

@font-face {
  font-family: "utmsarah";
  src: url(../css/fonts/utmsarah.ttf) format('truetype');
}

@font-face {
  font-family: "timenewsroman";
  src: url(../css/fonts/font-times-new-roman2.ttf) format('truetype');
}

body {
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #303030;
  line-height: 1.25;
}
.bodyhome{
  background: #fff;
}
.clear{
  clear: both;
}
.container {
  max-width: 1200px;
}

.nav-top{
  background-image: linear-gradient(100deg,#e22027,#bf0f15);
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding-right: 30px;
}
.nav-top .nav-top-left {
  background: #fff;
  transform: skewX(-50deg);
  float: left;
  width: 100%;
  height: 40px;
}
.nav-top .nav-menu {
  padding: 0;
  margin: 0;
  text-align: right;
}
.nav-top .nav-menu li {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  margin-left: 40px;
}
.nav-top .nav-menu li a {
  color: #fafafa;
  display: block;
}
.nav-top .nav-menu li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main-header{
  margin-bottom:0px;
  box-shadow: 0 1px 0 0 #f3f3f3;
}
.main-header .main-top {
  display: flex;
  justify-content: space-between;
}
.main-header .main-top .logo {
  position: relative;
  margin-top: -25px;
}
.main-header .main-menu {
  margin: 0;
  padding: 0;
}

.news_highlights{
  background: #f7fafc;
  overflow: hidden;
  padding: 15px 0 30px 0;
  margin-bottom: 30px;
}

.slider_home{
  position: relative;
}
.slider_home .item_news{
  position: relative;
}
.slider_home .slick-slide{
  position: relative;
  padding: 0px 10px;
  border-radius: 5px;
}
.slider_home .item_news .img{
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  background-size: cover;
  background-position: center;  
}
.slider_home .item_news .name{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 10px;
  width: 100%;  
}
.slider_home .item_news .name h3{
  line-height: 22px;
}
.slider_home .item_news .name h3 a{
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.slick-bt{
  width: 40px;
  height: 40px;
  border: 2px #d2181f solid;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 100px;  
  cursor: pointer;
}
.slick-prev-our{
  left: -40px;
}
.slick-next-our{
  right: -40px;
}
.slick-bt i{
  font-size: 21px;
  color: #d2181f;
  line-height: 36px;
}

.news_special{}
h3.title_special{
  text-transform: uppercase;
  font-size: 24px;
  color: #303030;
  font-weight: 800;
  padding-left: 35px;
  background: url(../images/icon-start.svg) no-repeat left center;
  background-size: 30px auto;
  position: relative;
  z-index: 2;
  padding-top: 8px;  
  margin-bottom: 20px;
}
.news_special .news1{
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  
  position: relative;
  width: 100%;
  padding: 0px 10px;  
  margin-bottom: 20px;
}
.news_special .news1 .name{
  color: white;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
}
.news_special .news1 .name:hover{
  color: #d2181f 
}


.news2{
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  
  position: relative;
  width: 100%;
  padding: 0px 10px;  
  margin-bottom: 20px;
}
.news2 .name{
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
}


.list_news_item{}
.list_news_item img{
  border-radius: 5px;
  margin-bottom: 20px;  
}
.list_news_item h3{
  line-height: 23px;
  margin-bottom: 10px;
}
.list_news_item h3 a{
 color: rgb(48, 48, 48);
 font-size: 18px;
 font-weight: 700; 
}
.list_news_item h3 a:hover{
  color: #d33;
}
.list_news_item p.cate{
  color: #d33;
  font-size: 14px;
  font-weight: 600;
}
.list_news_item p span{
  font-size: 14px;
  color: #888 !important;
  font-weight: 400;
}
.list_news_item p.short{
  font-size: 14px;
  line-height: 1.25;
  color: #888 !important;
}

.new_first{}
.new_first .img{}
.new_first .img img{
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  max-height: 190px;
}
.new_first .name{
  min-height: 80px;
}
.new_first .name a{
  font-size: 18px;
  line-height: 1.33;
  color: #303030;
  font-weight: 700;
  margin-top: 7px;
}
.new_first .name a:hover{
  color: #d33;
}

.list_news_cate{}
.list_news_cate img{
  border-radius: 5px;
  margin-bottom:15px;
}
.list_news_cate h3{
  font-weight: 700;
  font-size: 14px;
  color: #303030;
}
.list_news_cate h3 a{
  color: #303030;
  line-height: 22px;
}
.list_news_cate h3 a:hover{
  color: #d33;
}

.footer_nav{
  background-image: linear-gradient( 95deg,#e22027,#bf0f15);
  padding: 10px 0px;
}
.footer_nav a{
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
}

.fanpage_col_right{
  margin-bottom: 30px;
}
.fanpage_col_right iframe{}


.footer_top{
  font-size: 14px;
  padding: 30px 0;
  background-color: #303030;
  position: relative;
  z-index: 10;
  color: white;
}
.footer_top h4.title_cate_footer{
  text-transform: uppercase;
  font-size: 20px;
  color: #e22026;
  font-weight: 700;
  padding-left: 40px;
  background: url(../images/icon-start.svg) no-repeat left center;
  background-size: 27px auto;
  position: relative;
  z-index: 2;
  padding-top: 8px;
  margin-bottom: 20px;
}
.footer_top ul{
  margin-bottom: 30px;
}
.footer_top ul li{}
.footer_top ul li a{
  color: #fff;
  text-transform: capitalize;
  line-height: 30px;
}
.footer_bottom{
 font-size: 14px;
 padding: 30px 0;
 background-color: #000;
 position: relative;
 z-index: 10;
 color: white;
}
.footer_bottom{}
.footer_bottom h2.name{
  font-size: 19px;
  line-height: 32px;
}


.footer_bottom .info{
  margin-top: 30px;
  line-height: 32px;
}
.footer_bottom .info i{
  margin-right: 10px;
}




#shownewscate{
  background-color: #c71319;
  border-color: #c41117;
  margin-bottom: 20px;
  padding: 1px 20px;
  display: none;
  color: #ffffff;
  font-size: 15px;
}
.nav-mobile {
  display: none;
  height: 38px;
  padding: 0 0px;
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 99999999;
}
.icon_pr_mb a {
  font-size: 16px;
  color: #fe9000;
}
.icon_pr_mb i span {
  width: 25px;
  height: 3px;
  background-color: #e2131a;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
}

.breadcrumb-zone {
  margin-top: 10px;
  margin-bottom: 30px;
}
.breadcrumb-zone h1 {
  text-transform: uppercase;
  float: left;
  font-size: 36px;
  position: relative;
  bottom: -15px;
  
}
.breadcrumb-zone h1 a{color: #e22027;}

.breadcrumb-zone ul.cate_sub {
  padding-top: 25px;
  padding-left: 140px;

}
.breadcrumb-zone ul.cate_sub li{
  float: left;
  padding: 0px 20px;
  margin-bottom: 10px;
}
.breadcrumb-zone ul.cate_sub li a{
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}
.breadcrumb-zone ul.cate_sub li a:hover{
  color: #e22027;
  border-bottom: 2px solid;
}

.ads_banner_top{
  margin:10px 0px;
  text-align:center;
}
.ads_banner_top img{
  height: auto
  max-width:100%;
}
h1.title_post{
  font-size: 36px;
  font-weight: 700;
}
.detail_post .date_post{font-size: 15px;}
.detail_post .share_fb{
  text-align:right;
}
.detail_post .share_fb iframe{
  width: 131px;
}
.detail_post .short_post{
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  margin: 10px 0;
}


.detail_post .content_post{
  font-size: 15px;
  line-height: 29px;
  font-weight: 500;
}
.detail_post .content_post img{
  max-width:100%;
  height:auto!important;
}
.detail_post .content_post table{
  max-width:100%;
  height:auto!important;
}
.post_tag {
    width: 100%;
    position: relative;
    font-size: 14px;
    padding: 30px 0px;
}
.post_tag .block_tag {
  position: relative;
  padding-left: 43px;
  line-height: 26px;
}
.post_tag .txt_tag{
  position: absolute;
  top: 0;
  left: 0;
}
.post_tag .list_tag{}
.post_tag .list_tag a{
  color: #e22027;
  border: 1px solid #e22027;
  border-radius: 14px;
  margin: 0px 10px;
  padding: 3px 6px;
}





