/* default */
*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
p{margin-bottom: 0;}
a{color: black; font-size: 13px;}
a:hover{text-decoration: none; color: #1e73be;}
ul{list-style: none;}
body{font-family: "Roboto-Regular"; font-size: 13px;}
@font-face{
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

/* common */
.bg{background: red;}
.bg1{background: blue;}
.bg2{background: orangered;}
.main-width{width: 1200px; margin: 0 auto;}

/**header**/
header#header{background: #386384; padding: 15px 0;}
header#header form.wrap-form-search{overflow: hidden; width: 80%; padding: 5px 0 0 0; margin:0;}
header#header form.wrap-form-search input{width: 80%; margin-bottom: 0; float: left; border-top-left-radius: 23px; border-bottom-left-radius: 23px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; font-size: 14px; border: 0 !important; padding-top: 23px; padding-bottom: 23px; padding-left: 25px;}
header#header form.wrap-form-search button{border-radius: 0; border-top-right-radius: 22px; border-bottom-right-radius: 22px; font-size: 20px; background: #ee3525; border: 0 !important; height: 46px; width: 60px; margin-bottom: 0 !important;}

header#header .wrap-user{text-align: center; display: table; float: right; color: #fff;}
header#header .wrap-user i{font-size: 22px; padding: 5px 0 3px 0;}
header#header .wrap-user a{color: #fff;}
header#header .wrap-user a:hover{color: #ee3525;}

/**menu**/
.wrap-menu{background: #1e73be; margin-bottom: 20px;}

/**slide**/
.wrap-slide{margin-bottom: 25px;}
.wrap-slide .carousel-item img{width: 100%;}

/**category suggest**/
section#box-category-suggest .cs-head{text-align: center; display: table; margin: 0 auto 25px auto;}
section#box-category-suggest .cs-head label{font-size: 28px; font-family: "Roboto-Bold";}
section#box-category-suggest .cs-head .line{background: #ff4d00; height: 1px; margin: 0 35px;}
section#box-category-suggest .cs-list ul{overflow: hidden; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
section#box-category-suggest .cs-list ul li{list-style: none; float: left; width: 25%;}
section#box-category-suggest .cs-list ul li .cs-item{border: 1px solid #ddd; height: 138px; border-right: 0; border-bottom: 0; padding: 20px; overflow: hidden;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left{margin-right: 85px;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left label{font-family: "Roboto-Bold"; font-size: 14px; text-transform: uppercase;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left p{padding: 0 0 10px 0; font-size: 13px;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left a{color: #1e73be;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left a:hover{color: #ee3525;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-right{float: right;}