/* default */
*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
p{margin-bottom: 0;}
a{color: black; font-size: 13px;}
a:hover{text-decoration: none; color: #1e73be;}
img{width: auto; max-width: 100% !important;}
ul{list-style: none;}
body{font-family: "Roboto-Regular"; font-size: 13px;}
@font-face{
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

/* common */
.bg{background: red;}
.bg1{background: blue;}
.bg2{background: orangered;}
.main-width{width: 1200px; margin: 0 auto;}

/**header**/
header#header{background: #386384; padding: 15px 0;}
header#header form.wrap-form-search{overflow: hidden; width: 80%; padding: 5px 0 0 0; margin:0;}
header#header form.wrap-form-search input{width: 80%; margin-bottom: 0; float: left; border-top-left-radius: 23px; border-bottom-left-radius: 23px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; font-size: 14px; border: 0 !important; padding-top: 23px; padding-bottom: 23px; padding-left: 25px;}
header#header form.wrap-form-search button{border-radius: 0; border-top-right-radius: 22px; border-bottom-right-radius: 22px; font-size: 20px; background: #ee3525; border: 0 !important; height: 46px; width: 60px; margin-bottom: 0 !important;}

header#header .wrap-user{text-align: center; display: table; float: right; color: #fff;}
header#header .wrap-user i{font-size: 22px; padding: 5px 0 3px 0;}
header#header .wrap-user a{color: #fff;}
header#header .wrap-user a:hover{color: #ee3525;}

/**menu**/
.wrap-menu{background: #1e73be; margin-bottom: 20px;}

/**slide**/
.wrap-slide{margin-bottom: 25px;}
.wrap-slide .carousel-item img{width: 100%;}

/**category suggest**/
section#box-category-suggest{margin-bottom: 35px;}
section#box-category-suggest .cs-head{text-align: center; display: table; margin: 0 auto 25px auto;}
section#box-category-suggest .cs-head label{font-size: 28px; font-family: "Roboto-Bold";}
section#box-category-suggest .cs-head .line{background: #ff4d00; height: 1px; margin: 0 35px;}
section#box-category-suggest .cs-list ul{overflow: hidden; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom: 0;}
section#box-category-suggest .cs-list ul li{list-style: none; float: left; width: 25%;}
section#box-category-suggest .cs-list ul li .cs-item{border: 1px solid #ddd; height: 138px; border-right: 0; border-bottom: 0; padding: 20px; overflow: hidden;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left{margin-right: 85px;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left label{font-family: "Roboto-Bold"; font-size: 14px; text-transform: uppercase;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left p{padding: 0 0 10px 0; font-size: 13px;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left a{color: #1e73be;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-left a:hover{color: #ee3525;}
section#box-category-suggest .cs-list ul li .cs-item .cs-item-right{float: right;}

/**product**/
section#box-product{margin-bottom: 25px;}
section#box-product .pr-head{background: #efefef; margin-bottom: 35px;}
section#box-product .pr-head label{display: table; background: #ee3525; color: #fff; padding: 10px 25px; font-size: 15px;}
section#box-product .pr-content{}
section#box-product .pr-content ul{overflow: hidden; margin-bottom: 0;}
section#box-product .pr-content ul li{list-style: none; float: left; width: 15.416%; margin-left: 1.5%; margin-bottom: 18px;}
section#box-product .pr-content ul li:first-child{margin-left: 0;}
section#box-product .pr-content ul li:nth-child(6n+1){margin-left: 0;}
section#box-product .pr-content ul li .pr-item{border: 1px solid #ddd; padding: 15px; height: 100%;}
section#box-product .pr-content ul li .pr-item p.price{font-family: "Roboto-Bold"; font-size: 16px; color: #ee3525; padding: 15px 0 10px 0;}
section#box-product .pr-content ul li .pr-item h3{height: 45px; overflow: hidden;}
section#box-product .pr-content ul li .pr-item h3 a{font-size: 13px;}

section#detail-product .wrap-info-product{}
section#detail-product .wrap-info-product h1{}
section#detail-product .wrap-info-product h1 a{font-family: "Roboto-Bold"; font-size: 22px;}
section#detail-product .wrap-info-product .des{line-height: 25px; padding: 20px 0; font-size: 15px;}
section#detail-product .wrap-info-product .price{font-family: "Roboto-Bold";}
section#detail-product .wrap-info-product .price span:first-child{font-size: 22px; padding-right: 10px;}
section#detail-product .wrap-info-product .price span:last-child{font-size: 18px; text-decoration: line-through; color: #ccc;}
section#detail-product .wrap-info-product .btn-product{padding: 35px 0 0 0;}
section#detail-product .wrap-info-product .btn-product button{background: #ee3525; color: #fff; padding: 10px 25px;}
section#detail-product .wrap-info-product .btn-product button:hover{background: #1e73be;}

section#detail-product .wrap-product-show{padding: 25px 0 0 0;}
section#detail-product .wrap-product-show .box-tab{}
section#detail-product .wrap-product-show .box-tab .tab-fix{border: 1px solid #ddd;}
section#detail-product .wrap-product-show .box-tab .nav-pills .nav-link{border-radius: 0; font-size: 15px; text-transform: uppercase;}
section#detail-product .wrap-product-show .box-tab .nav-pills .nav-link.active, section#detail-product .wrap-product-show .box-tab .nav-pills .show>.nav-link{background: #1e73be;}
section#detail-product .wrap-product-show .box-tab .tab-content{padding: 20px 0 20px 0;}
.ctct{line-height: 22px;}
.ctct img{width: inherit !important; max-width: 100% !important;}

section#detail-product .wrap-list-product{padding: 20px 0 0px 0;}
section#detail-product .wrap-list-product label{font-size: 18px; font-family: "Roboto-Bold"; margin-bottom: 25px;}
section#detail-product .wrap-list-product{margin-bottom: 25px;}
section#detail-product .wrap-list-product .pr-head{background: #efefef; margin-bottom: 35px;}
section#detail-product .wrap-list-product .pr-head label{display: table; background: #ee3525; color: #fff; padding: 10px 25px; font-size: 15px;}
section#detail-product .wrap-list-product .pr-content{}
section#detail-product .wrap-list-product .pr-content ul{overflow: hidden; margin-bottom: 0;}
section#detail-product .wrap-list-product .pr-content ul li{list-style: none; float: left; width: 31.6%; margin-left: 2.5%; margin-bottom: 18px;}
section#detail-product .wrap-list-product .pr-content ul li:first-child{margin-left: 0;}
section#detail-product .wrap-list-product .pr-content ul li:nth-child(6n+1){margin-left: 0;}
section#detail-product .wrap-list-product .pr-content ul li .pr-item{border: 1px solid #ddd; padding: 15px; height: 100%;}
section#detail-product .wrap-list-product .pr-content ul li .pr-item p.price{font-family: "Roboto-Bold"; font-size: 16px; color: #ee3525; padding: 15px 0 10px 0;}
section#detail-product .wrap-list-product .pr-content ul li .pr-item h3{height: 45px; overflow: hidden;}
section#detail-product .wrap-list-product .pr-content ul li .pr-item h3 a{font-size: 13px;}

section#wrap-product-category{margin-bottom: 25px;}
section#wrap-product-category .pc-head{background: #efefef; margin-bottom: 35px;}
section#wrap-product-category .pc-head label{display: table; background: #ee3525; color: #fff; padding: 10px 25px; font-size: 15px;}
section#wrap-product-category .pc-content{}
section#wrap-product-category .pc-content ul{overflow: hidden; margin-bottom: 0;}
section#wrap-product-category .pc-content ul li{list-style: none; float: left; width: 23.85%; margin-left: 1.5%; margin-bottom: 18px;}
section#wrap-product-category .pc-content ul li:first-child{margin-left: 0;}
section#wrap-product-category .pc-content ul li:nth-child(4n+1){margin-left: 0;}
section#wrap-product-category .pc-content ul li .pr-item{border: 1px solid #ddd; padding: 15px; height: 100%;}
section#wrap-product-category .pc-content ul li .pr-item p.price{font-family: "Roboto-Bold"; font-size: 16px; color: #ee3525; padding: 15px 0 10px 0;}
section#wrap-product-category .pc-content ul li .pr-item h3{height: 45px; overflow: hidden;}
section#wrap-product-category .pc-content ul li .pr-item h3 a{font-size: 13px;}

/**new**/
section#box-new{margin-bottom: 25px;}
section#box-new .nr-head{text-align: center; display: table; margin: 0 auto 25px auto;}
section#box-new .nr-head label{font-size: 28px; font-family: "Roboto-Bold";}
section#box-new .nr-head p{text-align: center; font-size: 15px;}
section#box-new .nr-content{}
section#box-new .nr-content ul{overflow: hidden;margin-bottom: 0px;}
section#box-new .nr-content ul li{list-style: none; float: left; width: 23.5%; margin-right: 2%;}
section#box-new .nr-content ul li:last-child{margin-right: 0;}
section#box-new .nr-content ul li h3{padding: 15px 0 10px 0;}
section#box-new .nr-content ul li h3 a{font-size: 15px; font-family: "Roboto-Bold";}

/**site bar product**/
nav#site-bar-product .wrap-site-bar-product{border: 1px solid #ddd; padding: 10px;}
nav#site-bar-product .wrap-site-bar-product label{font-size: 15px; text-transform: uppercase; color: #fff; background: #1e73be; padding: 10px 15px; width: 100%; margin-bottom: 0;}
nav#site-bar-product .wrap-site-bar-product ul{margin-bottom: 0;}
nav#site-bar-product .wrap-site-bar-product ul li{list-style: none; border-bottom: 1px solid #ddd; padding: 10px 0;}
nav#site-bar-product .wrap-site-bar-product ul li h3 a{font-size: 14px;}
nav#site-bar-product .wrap-site-bar-product ul li p.price{font-size: 14px; font-family: "Roboto-Bold"; color: #ee3525;}
nav#site-bar-product .wrap-site-bar-product ul li:last-child{margin-bottom: 0; border-bottom: 0;}

/**ads**/
section .wrap-ads{margin-bottom: 25px;}
section .wrap-ads ul{overflow: hidden; margin-bottom: 0;}
section .wrap-ads ul li{list-style: none; float: left; margin-right: 3%; width: 48.5%;}
section .wrap-ads ul li:last-child{margin-right: 0;}

/**breadcrumb**/
nav .breadcrumb{background: #fff; border-radius: 0; margin-bottom: 25px; padding-left: 0;}

/**footer**/
footer#footer{}
footer#footer .ft-one{background: #386384; padding: 35px 0; color: #fff;}
footer#footer .ft-one .ft-content{}
footer#footer .ft-one .ft-content label{font-size: 18px; font-family: "Roboto-Bold"; margin-bottom: 25px;}
footer#footer .ft-one .ft-content ul{margin-bottom: 0;}
footer#footer .ft-one .ft-content ul li{list-style: none; padding: 0 0 8px 0;}
footer#footer .ft-one .ft-content ul li a{color: #fff; font-size: 15px;}
footer#footer .ft-one .ft-content .ftct{}
footer#footer .ft-one .ft-content .ftct p{font-size: 15px; line-height: 30px;}

footer#footer .ft-two{background: #222; padding: 15px 0; color: #fff;}