
.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 98%;
    height: 100%;
    margin: 0 auto;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    height: 100%;	
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    cursor: pointer;
    position: relative;
    margin-top: 7px;
    margin-bottom: 15px;
    width: 146px;
    background: white;
    height: 80px;
    border-radius: 0px;
    border: 1px #ececec solid;
    padding: 0px;
    border-radius: 5px;
}
.nbs-flexisel-item a{
    color: #333333;
    font-weight: bold;	
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 30px;
    height: 43px;
    position: absolute;
    cursor: pointer;
    z-index: 100;    margin-top: -8px;
    opacity: 1;
}

.nbs-flexisel-nav-left {
    left: -5px;
    background: url(../images/nex_sl2.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -22px;
    background: url(../images/back_sl2.png) no-repeat;
}