::selection {
	background-color: #efbb20;
	color: #ffffff;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 0px;
	box-shadow: none;
}
::-webkit-scrollbar {
	width: 10px;
}
ul{
	padding:0px;
	margin:0px;
}
a:hover{
	text-decoration:none;
}
.clear{
	clear:both;
}
p{
	margin-bottom:8px
}
body {
	font-size: 13px;
	font-family: 'Roboto';
	margin: 0px;
	padding: 0px;
	color: #212121;
}
.container_login{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0px;	
}
.col_left{
	width: 45%;
	float: left;
	height: -webkit-fill-available;
}
.col_right{
	width: 55%;
	float: left;
	height: -webkit-fill-available;
}
.col_right{
	background: url(../images/bg_login.png) top center no-repeat;
	background-size: 100% 100%;
}
.bg_register{
	background: url(../images/bg_register.png) top center no-repeat;
	background-size: 100% 100%;
}

.box_form{
	width: 60%;
	margin: 0 auto;
	margin-top: 100px;	
}
.box_form h1{
	color: #cb0031;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	font-size: 40px;
}
.box_form label.label{
	color: #1D1D26;
	font-size: 12px;
	margin-bottom: 0.2rem;
}

.box_form .form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0px;
	font-size: 14px;
	line-height: 1.5;
	color: #212121;
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	border-bottom: 1px solid #ced4da;
}
.box_form .form-check{
	padding-left: 0px;
}

.box_form a.lostpass{
	float: right;
	color: #999999;
}

.box_form .submit_button{
	width: 100%;
	background: #cb0031;
	border-color: #cb0031;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 17px;
	margin: 15px 0px;	
}
.box_form .submit_button:hover{
	background: #FF5722;
	border-color: #FF5722;	
}
.box_form .not_account{
	color: #999999;
	font-size: 14px;	
}
.box_form .not_account a{
	color: #1acaff;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
	content: '';
	width: 8px;
	height: 8px;
	background: #18bcf4;
	position: absolute;
	top: 5px;
	left: 5px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


@media only screen and (min-width: 650px) and (max-width: 990px) {
	.col_left{}
	.col_right {
		background: url(../images/bg_login.png) top center no-repeat;
		background-size: inherit;
	}
	.box_form {
		width: 80%;
		margin: 0 auto;
		margin-top: 50px;
	}
}

@media (max-width: 575.98px) {
	.col_left{
		width: 100%;
	}
	.box_form {
		width: 85%;
		margin: 0 auto;
		margin-top: 50px;
	}
	.col_right{
		display: none;
	}
}